@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Space+Grotesk:wght@500&display=swap");

:root {
  /* color */
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);

  /* (active input border) */
  --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  /* (input errors) */
  --red: hsl(0, 100%, 66%);

  /* thypography */
  --family: "Space Grotesk";
  --fn-base: 18px;
  --weight-bold: 500;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: var(--family);
  /* justify-content: space-between; */
}

.carts-container {
  position: absolute;
  top: 170px;
  left: 170px;
  width: 600px;
  height: 530px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: brown; */
}
