.cart-back-container {
  height: 245px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* background-color: brown; */
}
.cart-img {
  box-shadow: 15px 15px 15px rgba(37, 37, 37, 0.118);
  border-radius: 10px;
}

.cart-cvc {
  position: absolute;
  left: 365px;
  bottom: 115px;
  color: white;
}

@media (max-width: 500px) {
  .cart-back-container {
    height: 120px;
    position: absolute;
    top: 0;
    right: 0;
    /* background-color: brown; */
  }

  .cart-cvc {
    font-size: 12px;
    position: absolute;
    left: 230px;
    top: 70px;
    color: rgb(255, 255, 255);
  }
}
