.cart-front-container {
  position: relative;
  height: 245px;
}

.cart-logo {
  position: absolute;
  margin: 30px 0 0 30px;
}

.cart-info-container {
  position: absolute;
  bottom: 0;
  margin: 0 30px 30px 30px;
  color: white;
  /* background-color: brown; */
}

.cart-number {
  font-size: 24px;
  letter-spacing: 3px;
}

.card-info-footer {
  width: 390px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* background-color: aquamarine; */
}
